--
-- PostgreSQL database dump
--

\restrict SVz2QiOa59gWo6thP9JAgcdzyc0ZBorgLLJGiH5LRA9yeBJvUVVRCM7lE4Z5Uoc

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO druguser;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer,
    product_id integer,
    quantity integer NOT NULL,
    unit_price double precision NOT NULL,
    batch_id integer
);


ALTER TABLE public.order_items OWNER TO druguser;

--
-- Name: COLUMN order_items.id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.order_items.id IS 'Identificador ├║nico do item do pedido';


--
-- Name: COLUMN order_items.order_id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.order_items.order_id IS 'ID do pedido relacionado';


--
-- Name: COLUMN order_items.product_id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.order_items.product_id IS 'ID do produto comprado';


--
-- Name: COLUMN order_items.quantity; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.order_items.quantity IS 'Quantidade comprada';


--
-- Name: COLUMN order_items.unit_price; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.order_items.unit_price IS 'Pre├ºo unit├írio no momento da compra';


--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO druguser;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    user_id integer,
    seller_id integer,
    total_value double precision,
    status character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    payment_method character varying(50)
);


ALTER TABLE public.orders OWNER TO druguser;

--
-- Name: COLUMN orders.id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.orders.id IS 'Identificador ├║nico do pedido';


--
-- Name: COLUMN orders.user_id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.orders.user_id IS 'ID do cliente que fez o pedido';


--
-- Name: COLUMN orders.seller_id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.orders.seller_id IS 'ID do vendedor que processou o pedido';


--
-- Name: COLUMN orders.total_value; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.orders.total_value IS 'Valor total do pedido';


--
-- Name: COLUMN orders.status; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.orders.status IS 'Status do pedido (pending, paid, shipped, etc.)';


--
-- Name: COLUMN orders.created_at; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.orders.created_at IS 'Data e hora de cria├º├úo do pedido';


--
-- Name: COLUMN orders.payment_method; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.orders.payment_method IS 'M├®todo de pagamento escolhido';


--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO druguser;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    order_id integer,
    type character varying(50) NOT NULL,
    amount double precision NOT NULL,
    invoice_file character varying(255),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.payments OWNER TO druguser;

--
-- Name: COLUMN payments.type; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.payments.type IS 'Tipo de pagamento (pix, cart├úo, boleto, etc.)';


--
-- Name: COLUMN payments.amount; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.payments.amount IS 'Valor pago';


--
-- Name: COLUMN payments.invoice_file; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.payments.invoice_file IS 'Arquivo da nota fiscal';


--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO druguser;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: prescriptions; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.prescriptions (
    id integer NOT NULL,
    order_item_id integer,
    doctor_name character varying NOT NULL,
    crm character varying NOT NULL,
    file_path character varying NOT NULL,
    issued_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.prescriptions OWNER TO druguser;

--
-- Name: COLUMN prescriptions.id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.prescriptions.id IS 'Identificador ├║nico da receita';


--
-- Name: COLUMN prescriptions.order_item_id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.prescriptions.order_item_id IS 'ID do item do pedido associado';


--
-- Name: COLUMN prescriptions.doctor_name; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.prescriptions.doctor_name IS 'Nome do m├®dico prescritor';


--
-- Name: COLUMN prescriptions.crm; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.prescriptions.crm IS 'CRM do m├®dico';


--
-- Name: COLUMN prescriptions.file_path; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.prescriptions.file_path IS 'Caminho do arquivo da receita (upload)';


--
-- Name: COLUMN prescriptions.issued_at; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.prescriptions.issued_at IS 'Data de emiss├úo/upload da receita';


--
-- Name: prescriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.prescriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.prescriptions_id_seq OWNER TO druguser;

--
-- Name: prescriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.prescriptions_id_seq OWNED BY public.prescriptions.id;


--
-- Name: product_batches; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.product_batches (
    id integer NOT NULL,
    product_id integer NOT NULL,
    batch_number character varying(50) NOT NULL,
    quantity integer NOT NULL,
    expiration_date date NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.product_batches OWNER TO druguser;

--
-- Name: product_batches_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.product_batches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_batches_id_seq OWNER TO druguser;

--
-- Name: product_batches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.product_batches_id_seq OWNED BY public.product_batches.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name character varying(120) NOT NULL,
    category character varying(100),
    barcode character varying(100),
    description character varying,
    price numeric(10,2) NOT NULL,
    stock_quantity integer,
    validity date,
    min_stock_level integer,
    stripe character varying(100),
    requires_prescription boolean
);


ALTER TABLE public.products OWNER TO druguser;

--
-- Name: COLUMN products.id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.products.id IS 'Identificador ├║nico do produto';


--
-- Name: COLUMN products.name; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.products.name IS 'Nome do produto';


--
-- Name: COLUMN products.category; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.products.category IS 'Categoria do produto (ex: Medicamento, Higiene)';


--
-- Name: COLUMN products.barcode; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.products.barcode IS 'C├│digo de barras do produto';


--
-- Name: COLUMN products.description; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.products.description IS 'Descri├º├úo detalhada do produto';


--
-- Name: COLUMN products.price; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.products.price IS 'Pre├ºo unit├írio do produto';


--
-- Name: COLUMN products.stock_quantity; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.products.stock_quantity IS 'Quantidade em estoque';


--
-- Name: COLUMN products.validity; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.products.validity IS 'Data de validade do produto';


--
-- Name: COLUMN products.min_stock_level; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.products.min_stock_level IS 'N├¡vel m├¡nimo de estoque para alerta';


--
-- Name: COLUMN products.stripe; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.products.stripe IS 'Tarja do medicamento (ex: Preta, Vermelha)';


--
-- Name: COLUMN products.requires_prescription; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.products.requires_prescription IS 'Indica se requer receita m├®dica';


--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO druguser;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: supplier_orders; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.supplier_orders (
    id integer NOT NULL,
    product_id integer NOT NULL,
    quantity integer NOT NULL,
    status character varying(50),
    expected_delivery_date date,
    received_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.supplier_orders OWNER TO druguser;

--
-- Name: supplier_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.supplier_orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.supplier_orders_id_seq OWNER TO druguser;

--
-- Name: supplier_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.supplier_orders_id_seq OWNED BY public.supplier_orders.id;


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.user_roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.user_roles OWNER TO druguser;

--
-- Name: COLUMN user_roles.id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.user_roles.id IS 'Identificador ├║nico do papel';


--
-- Name: COLUMN user_roles.name; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.user_roles.name IS 'Nome do papel (ex: admin, pharmacist)';


--
-- Name: COLUMN user_roles.description; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.user_roles.description IS 'Descri├º├úo das permiss├Áes do papel';


--
-- Name: user_roles_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.user_roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_roles_id_seq OWNER TO druguser;

--
-- Name: user_roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.user_roles_id_seq OWNED BY public.user_roles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: druguser
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    cpf character varying(14),
    phone character varying(20),
    address character varying(255),
    birth_date character varying(20),
    client_type character varying(50),
    password_hash character varying(255) NOT NULL,
    is_active boolean,
    role_id integer NOT NULL
);


ALTER TABLE public.users OWNER TO druguser;

--
-- Name: COLUMN users.id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.users.id IS 'Identificador ├║nico do usu├írio';


--
-- Name: COLUMN users.name; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.users.name IS 'Nome completo do usu├írio';


--
-- Name: COLUMN users.email; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.users.email IS 'Endere├ºo de email do usu├írio';


--
-- Name: COLUMN users.cpf; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.users.cpf IS 'CPF do usu├írio';


--
-- Name: COLUMN users.phone; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.users.phone IS 'Telefone de contato';


--
-- Name: COLUMN users.address; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.users.address IS 'Endere├ºo completo';


--
-- Name: COLUMN users.birth_date; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.users.birth_date IS 'Data de nascimento';


--
-- Name: COLUMN users.client_type; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.users.client_type IS 'Tipo de cliente (regular, elderly, insurance)';


--
-- Name: COLUMN users.password_hash; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.users.password_hash IS 'Hash da senha do usu├írio';


--
-- Name: COLUMN users.is_active; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.users.is_active IS 'Indica se o usu├írio est├í ativo';


--
-- Name: COLUMN users.role_id; Type: COMMENT; Schema: public; Owner: druguser
--

COMMENT ON COLUMN public.users.role_id IS 'ID do papel (role) do usu├írio';


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: druguser
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO druguser;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: druguser
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: prescriptions id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.prescriptions ALTER COLUMN id SET DEFAULT nextval('public.prescriptions_id_seq'::regclass);


--
-- Name: product_batches id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.product_batches ALTER COLUMN id SET DEFAULT nextval('public.product_batches_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: supplier_orders id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.supplier_orders ALTER COLUMN id SET DEFAULT nextval('public.supplier_orders_id_seq'::regclass);


--
-- Name: user_roles id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.user_roles ALTER COLUMN id SET DEFAULT nextval('public.user_roles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: prescriptions prescriptions_order_item_id_key; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_order_item_id_key UNIQUE (order_item_id);


--
-- Name: prescriptions prescriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_pkey PRIMARY KEY (id);


--
-- Name: product_batches product_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.product_batches
    ADD CONSTRAINT product_batches_pkey PRIMARY KEY (id);


--
-- Name: products products_barcode_key; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_barcode_key UNIQUE (barcode);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: supplier_orders supplier_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.supplier_orders
    ADD CONSTRAINT supplier_orders_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_name_key; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_name_key UNIQUE (name);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_order_items_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_order_items_id ON public.order_items USING btree (id);


--
-- Name: ix_orders_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_orders_id ON public.orders USING btree (id);


--
-- Name: ix_payments_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_payments_id ON public.payments USING btree (id);


--
-- Name: ix_prescriptions_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_prescriptions_id ON public.prescriptions USING btree (id);


--
-- Name: ix_product_batches_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_product_batches_id ON public.product_batches USING btree (id);


--
-- Name: ix_products_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_products_id ON public.products USING btree (id);


--
-- Name: ix_supplier_orders_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_supplier_orders_id ON public.supplier_orders USING btree (id);


--
-- Name: ix_user_roles_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_user_roles_id ON public.user_roles USING btree (id);


--
-- Name: ix_users_cpf; Type: INDEX; Schema: public; Owner: druguser
--

CREATE UNIQUE INDEX ix_users_cpf ON public.users USING btree (cpf);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: druguser
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: druguser
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: order_items order_items_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.product_batches(id);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: orders orders_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payments payments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: prescriptions prescriptions_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(id) ON DELETE CASCADE;


--
-- Name: product_batches product_batches_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.product_batches
    ADD CONSTRAINT product_batches_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: supplier_orders supplier_orders_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.supplier_orders
    ADD CONSTRAINT supplier_orders_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: druguser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.user_roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict SVz2QiOa59gWo6thP9JAgcdzyc0ZBorgLLJGiH5LRA9yeBJvUVVRCM7lE4Z5Uoc

